@import "../assets/variables";

.welcome {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.container {
    max-width: 840px;
}

.row {
    margin-bottom: 3em;
}

.side-picture img {
    border-radius: 10px;
}

hr {
    display: block;
    border: none;
    height: 13px;
    background: url('assets/breaker.png')  no-repeat top center;
    margin-bottom: 3em;
}

.guest {
    height: 15em;
}

a {
    white-space: nowrap;
    font-weight: bold;
    color: #6c6346;
}

a:hover {
    font-weight: bold;
    color: #6c6346;
}

video {
    width: 100%    !important;
    height: auto   !important;

    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    -webkit-transform: rotate(0.000001deg);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}
