/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: chancery;
    src: url("assets/chancery.ttf");
}

body {
    background-color: #FFFCF3;
}

app-root {
    color: #6c6346;
}


h1, h2, h3, h4 {
    font-family: chancery;
}

@media (max-width: 992px) {
    .container {
        margin-top: 1em;
        margin-right: 1em;
        margin-left: 1em;
    }
}

.btn {
    background-color: #dadada;
    border-color: #ccc;
}

.btn-success {
    background-color: #8CB23F;
    border-color: #6E9422;
}

.btn-success:hover {
    background-color: #6E9422;
    border-color: #6E9422;
}

.alert {
    margin-top: 1em;
    margin-bottom: 1em;
}
